<div [ngClass]="isMobileSize ? 'background-mobile mat-elevation-z4' :'background'">
    <div class="action-buttons">
        <button md-icon-button (click)="printPDF()"><md-icon>print</md-icon></button>
        <button md-icon-button (click)="openGithubLink()"><md-icon svgIcon="github"></md-icon></button>
    </div>
</div>

<body [ngClass]="isMobileSize ? 'main-content-mobile' :'main-content'">

    <md-card class="content-card">
        <md-card-title-group>
            <md-card-title>{{applicant.firstName}} {{applicant.lastName}}</md-card-title>
            <md-card-subtitle>{{applicant.shortDescription}}</md-card-subtitle>
            <img md-card-avatar src="{{applicant.avatarUrl}}" />
        </md-card-title-group>
        <label>Email</label>
        <a href="mailto://{{applicant.email}}?subject=Hello Mattaniah.Bz" target="_blank">{{applicant.email}}</a>
    </md-card>

    <md-card class="content-card">
        <md-card-title>Skills</md-card-title>
        <ul>
            <li *ngFor="let skill of applicant.skills">
                {{skill.description}}
            </li>
        </ul>
    </md-card>

    <md-card class="content-card">
        <md-card-title>Work Experience</md-card-title>
        <job *ngFor="let job of applicant.jobs" [job]="job"></job>
    </md-card>

    <md-card class="content-card">
        <md-card-title>Selected Projects</md-card-title>
        <published-app *ngFor="let app of applicant.publishedApps" [app]="app"></published-app>
    </md-card>
</body>